/* mobile screen */
@media(max-width:500px){
    body{
        margin:0%;
        background-color: black;
        color: rgba(255, 255, 255, 0.733); 
        padding: 0%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }  
    .tions{
      width: 100%;
       text-align: center;
    }
    .navones{
       width: 0%;
       height: 100vh;
       transition: 1s;
       overflow: hidden;
       position: fixed;
       z-index: 22;
       background-color: black;
       -webkit-transition: 1s;
       -moz-transition: 1s;
       -ms-transition: 1s;
       -o-transition: 1s;
}
    .visualside{ 
      display:none;
       width: 95%;
       height: 100vh;
       color:black;
       background-color: white;
       margin: auto;
       margin-top: 10px;
       
    }
    .hol{ 
      display: flex;
      align-items: center;
      height: 30px;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .lodingcir{
       width:5px;
       height:5px;
       margin-left: 10px;
       background-color: rgb(126, 126, 126);
    }
    .livecontainer{
      color:black;
       width: 95%; 
       background-color: rgb(255, 255, 255);
       margin: auto;
       margin-top: 10px;
    }
    .matchlive{ 
      margin-left:230px;
    }
    .odd{
      width: 98%;
      margin: auto;
      display: flex;
      align-items: center;
      color:aquamarine;
      justify-content: center;
      background-color: rgb(36, 36, 36);
      height:100vh;
    }
    .fistnav{
        background-color: black;
        display: flex;
        height: 70px;
        align-items: center;
        color: white;
        justify-content: space-between;
        position: fixed;
        width: 100%;
      } 
      .header1{
         width: 95%;
         height: 200px;
         text-align: center;
         margin: auto;
         border-radius: 10px;
         background-blend-mode: multiply;
         background-color: rgba(7, 4, 4, 0.603);
         background-size: 100% 100%;
         background-image:url("/assets/img/field.jpg");
         background-color: gray;
         -webkit-border-radius: 10px;
         -moz-border-radius: 10px;
         -ms-border-radius: 10px;
         color: white;
         font-size: 5px;
         display: flex;
         align-items: center;
         -o-border-radius: 10px;
         animation-name: camhe;
         animation-duration: 4s;
         animation-iteration-count: infinite;
}
      @keyframes camhe {
          10%{
            background-image: url("/assets/img/run.jpg");
          }
          20%{
            background-image: url("/assets/img/shot.jpg");
          }
          30%{
            background-image: url("/assets/img/red.jpg");
          }
          40%{
            background-image: url("/assets/img/pexels-ashleyrae-685382.jpg");
          } 
          50%{
            background-image: url("/assets/img/pexels-diego-santacruz-252431696-12616083.jpg");
          } 
          60%{
            background-image: url("/assets/img/pexels-case-originals-3764065.jpg");
          }
      }
      .btnside{
        width: 70%;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
      .tion{
        display: none;
        text-align: center;  
        width: 100%;
        
      }
      .up{
        width: 25%;
        background-color: rgb(3, 184, 3);
        outline: none;
        color:white;
        padding: 10px;
        border: none;
        font-size: 7px;
      }
      .downside{
         width: 95%;  
      }
      .toplist{ 
        display: flex;
        align-items: center; 
        padding: 10px; 
        justify-content: space-between;
        height: 50px;
      }
      .toplists{ 
        display: flex;
        align-items: center; 
        padding: 2px; 
        justify-content: space-between; 
      }
      .onestart{
        width: 50px;
        color: green;
        font-size: 20px;
        border-radius: 10px;
        display:flex;
        align-items: center;
        justify-content: center;
        outline: none;
        height: 50px;
        border:solid green 3px ;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
.nwer{
  padding:0px;  
  width: 100%;
  font-size: 14px; 
  margin: 0px; 
  margin-left:8px;
}
.lopi{
     width:95%; 
     padding: 5px;
     margin: auto;
     display: flex;
     justify-content: space-around;
}    
.tophold{
        width: 95%;
        height: 100vh;
        margin: 10px; 
        margin: auto;
      }
      .wego{
        font-size: 10px; 
        margin: 0px;
        padding:4px;
        margin-left:4px;
      }
      .od1{
        margin: 0px;  
      }
      .nolo{
        width: 20%;
        border-radius:3px;
        padding: 3px;
        background-color: rgb(207, 207, 207);
        font-size: 10px;
        border:none  ;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        -ms-border-radius:3px;
        -o-border-radius:3px;
}
      .na1{
        width: 95%;
        margin: auto; 
        border: solid 1px gray;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}
      .dhome{
        font-size: 13px;
      } 
      .mid{
        width: 0.14%;
        height: 40px;
        background-color: black;
      }
      .in{
        width: 25%;
        background-color: rgb(3, 184, 3);
        outline: none;
        font-size: 7px;
        color:white;
        padding: 10px;
        border: none;
      }
      .mainfooter{
        width: 100%; 
        background-color: black;
      }
      .mainfoot{
        width: 95%;    
        margin: auto;
      }
      .putribe{
        width:60% ;
        background-color: black;
        padding:14px;
        outline: none;
        color: white;
        font-size: 10px;
        border-radius: 6px;
        outline: none;
        border:white solid 2px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
      }
      .mainco{
        width: 60%;
        background-color:red;
        margin: auto;
      }
      .slip{
        width: 100%;
        height:45px; 
        align-items: center;
        justify-content: space-around;
        position: fixed;
        bottom: 0px;
        padding: 5px;
        font-size: 10px;
        background-color:green;
        display: flex; 
      }
      .bet555o{
        width:50px;
        border-radius:5px;
        color: green;
        font-size:14px;
        text-align: center;
        padding:4px;
        background-color: rgb(255, 255, 255);
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        -ms-border-radius:5px;
        -o-border-radius:5px;
}
      .bet555{
        width:50px;
        color: black;
        padding: 1px;
        height: 20px;
        color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgb(255, 255, 255); 
        
      }
      .bet5553{ 
        width:55px;
        color: black;
        padding: 1px;
        height:20px;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color:  rgba(97, 241, 97, 0.575);  
      }
      .match{
        width: 50%;
        padding:7px;
        border: none;
        font-size: 9px;
        color: black;
        background-color: white;
      }
      .visual{
        width: 45%;
        padding: 7px;
        border: none;
        font-size: 9px;
        color: white;
        background-color: green;
      }
      .load{
        width: 100%;
        height: 100vh;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;  
        z-index: 22;
      }  
      .imhdivert{
        width: 50%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 13px;
      }
      .frst{  
        margin: auto;
        justify-content: space-around;
        width: 90%;
        display: flex;
        align-content: center;
        padding:5px; 
        border:green solid 1px;
      }
      .weim{
        width: 35px;
      }
      .ribe{
        padding: 10px;
        background-color: red;
        border-radius:3px;
        color:white;
        outline: none;
        border:none;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        -ms-border-radius:3px;
        -o-border-radius:3px;
     }
     .about{
         color:rgb(212, 212, 212);
         margin-left: 11px;
         font-size: 10px;
     }
     .com3{
       font-size: 10px;
     }
     .face{
      width:10%;
      margin: auto;
     }
     .be2{
      text-align: center;
      font-size: 10px;
     }
}